<link async href="http://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>

<div class="button">New Clients</div>


<%= render 'form', client: @client %>

<%= link_to 'Back', clients_path %>
