<div class="container">
  <div class="row">
    <h1>Bootstrap Lightbox using Modal</h1>
    <ul class="thumbnails">
      <li><a href="#" class="thumbnail" title="Image 1"><img src="//placehold.it/600x350"></a></li>
      <li><a href="#" class="thumbnail" title="Image 2"><img src="//placehold.it/600x350/2255EE"></a></li>
      <li><a href="#" class="thumbnail" title="Image 3"><img src="//placehold.it/600x350/449955/FFF"></a></li>
      <li><a href="#" class="thumbnail" title="Image 4"><img src="//placehold.it/600x350/992233"></a></li>
      <li><a href="#" class="thumbnail" title="Image 5"><img src="//placehold.it/600x350/2255EE"></a></li>
      <li><a href="#" class="thumbnail" title="Image 6"><img src="//placehold.it/600x350/449955/FFF"></a></li>
      <li><a href="#" class="thumbnail" title="Image 7"><img src="//placehold.it/600x350/777"></a></li>
    </ul>
    <hr>
    <a href="http://bootply.com/68668">Edit on Bootply</a>
  </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
			<h3 class="modal-title">Heading</h3>
	</div>
	<div class="modal-body">

	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
	</div>
</div>

<script>
$('.thumbnail').click(function(){
  	$('.modal-body').empty();
  	var title = $(this).attr("title");
  	$('.modal-title').html(title);
  	$(this.innerHTML).appendTo('.modal-body');
  	$('#myModal').modal({show:true});
});

</script>


<style>
.modal {width:600px;}
.thumbnail img {width:120px;}
</style>
