
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<%= link_to 'Back', root_path, class:'btn btn-danger' %>
<div class="container-fluid">
	<div class="row">
      <div class="col-md-12">
        <div class="button">Styles</div>
  <link async href="http://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
      </div>
    </div>

      <div class="col-md-4">
        <div class="box">
          <div class="box-icon"> <span class="fa fa-4x fa-paint-brush"></span> </div>
          <div class="info">
            <h4 class="text-center">Color</h4>
            <p class="content_style">Curly hair is more sensitive and prone to dryness by nature . Therefore color must also be done very carefully. Our coloring process focuses on soft color as not to lose the nuance of the original hair color. Starting at $90</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="box-icon"> <span class="fa fa-4x fa-magic"></span> </div>
          <div class="info">
            <h4 class="text-center">Wash</h4>
            <p class="content_style">Single process, all-over color. The colorist paints the tint onto the hair to cover greys, touch up roots, and achieve a more consistent color throughout. Starting at $90 <br><br></p>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="box-icon"> <span class="fa fa-4x fa-scissors"></span> </div>
          <div class="info">
            <h4 class="text-center">Cut</h4>
            <p class="content_style">Providing you with an in depth consultation prior to your shampoo and conditioning treatment. From Freestyle to Classic, our haircuts will leave you feeling modern and up to date.starting at $100 – $165</p>
          </div>
        </div>
      </div>
    </div>
      <div class="container-fluid">
      	<div class="row">
            <div class="col-md-4">

        <div class="box" id="lower">
          <div class="box-icon"> <span class="fa fa-4x fa-smile-o"></span> </div>
          <div class="info">
            <h4 class="text-center">Blowouts</h4>
            <p class="content_style">
Brazilian Blowout ZERO+ has been shown to be most effective with clients that have thinner hair or less challenging waves and/or curls. ZERO+ delivers actually promotes volume at the root area of the hair for exceptional body and bounce.
Starting at $200
 </p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box" id="lower">
          <div class="box-icon"> <span class="fa fa-4x fa-filter"></span> </div>
          <div class="info">
            <h4 class="text-center">Extensions</h4>
            <p class="content_style">Add fullness to your hair, making thin, fine hair look thicker. If you have short hair and want to try a longer style, hair extensions will give you a quick solution.Starting at $100 - $250<br><br> <br></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box" id="lower">
          <div class="box-icon"> <span class="fa fa-4x fa-eye"></span> </div>
          <div class="info">
            <h4 class="text-center">Eyebrows</h4>
            <p class="content_style">This will be the most comprehensive brow appointment you will ever have! Using balance and symmetry,  tweeze and design your brows to perfection. Starting at $40<br><br><br></p>
          </div>
        </div>
      </div>
      </div>
      </div>
