  <%= render 'layouts/navigation' %>
  <html>
<header class="masthead">

  <div class="button">About</div>
  <link async href="http://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
</header>
<img id="about_img" src="https://image.ibb.co/c18Y85/pto.png" />
<section class="introduction">
  <h1>Who We Are?</h1>
  <p>Fanny pack messenger bag raclette, shoreditch meh photo booth PBR&B direct trade pork belly. Wayfarers salvia health goth ethical, pok pok farm-to-table seitan artisan godard sriracha. </p>

  <p>Gochujang tote bag tofu, humblebrag cold-pressed enamel pin crucifix. Blue bottle air plant prism sustainable distillery. </p>

  <p>Gochujang tote bag tofu, humblebrag cold-pressed enamel pin crucifix. Blue bottle air plant prism sustainable distillery. </p>
  <p>Fanny pack messenger bag raclette, shoreditch meh photo booth PBR&B direct trade pork belly. Wayfarers salvia health goth ethical, pok pok farm-to-table seitan artisan godard sriracha. </p>

  <p>Gochujang tote bag tofu, humblebrag cold-pressed enamel pin crucifix. Blue bottle air plant prism sustainable distillery. </p>

  <p>Gochujang tote bag tofu, humblebrag cold-pressed enamel pin crucifix. Blue bottle air plant prism sustainable distillery. </p>


</section>
